.userAuthContainer {
    --auth-container-height: 70px;
    --auth-container-margin: calc((var(--header-height) - var(--auth-container-height)) / 2);
    position: fixed;
    top: var(--auth-container-margin);
    right: var(--auth-container-margin);
    z-index: 1000;
}

.googleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 16px;
}

.googleButton img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    height: 50px;
    width: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.profileContainer:hover {
    background-color: #f0f0f0;
}

.profileImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.emptyProfile {
    border: 1px solid black;
    transform: translateY(-1px);
}

.rightAlign {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.logoutButton {
    transition: all ease-in-out .5s;
    background-color: #ff4d4d;
    margin: 5px 0 10px 0;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    overflow: hidden;
}

.signInButton {
    --padding-horizontal: 14px;
    max-width: 320px;
    height: 48px;
    padding: 0 var(--padding-horizontal);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    color: #000;
    border-radius: 10px;
    box-shadow: var(--shadow-light);
    cursor: pointer;
}

.signInButton.secondary {
    /* height: 44px;
    width: calc(100% - var(--padding-horizontal) * 2 - 4px);
    border: 2px #424242 solid; */
    background-color: #f9d978;
    color: #0f0f0f;
    box-shadow: var(--shadow-medium);
}

.signInServiceLogo {
    height: 20px;
    width: 20px;
}

.signInServiceName {
    padding: 0 6px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px !important;
}

/* .logoutButton {
    transition: all ease-in-out .5s;
    height: 0;
    visibility: hidden;
    margin-top: 10px;
    background-color: #ff4d4d;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    padding: 0 20px;
    overflow: hidden;
}

.profileContainer, .profileContainer * {
    transition: all ease-in-out .5s;
}

.profileActive > .profileContainer, .profileActive > .profileContainer * {
    height: 5px !important;
}

.profileActive > .profileSettings button {
    padding: 10px 20px;
    visibility: visible;
    height: fit-content !important;
} */